.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
}

.top-icons {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logout-button img{
    width: 28px;
    height: 28px;
    cursor: pointer;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-right: 12px;
}

.icon-button .budget-icon {
  width: 28px;
  height: 28px;
  object-fit: contain;
  transition: transform 0.15s ease;
}

.icon-button:hover .budget-icon {
  transform: scale(1.12);
}

.icon-button-small {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0 4px;
}

.icon-button-small img {
  width: 18px;
  height: 18px;
  object-fit: contain;
}


.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
}

.modal.show {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  max-width: 400px;
  width: 90%;
}


/* Edit & Delete & lock icons */
.icon-button.edit-btn img,
.icon-button.delete-btn img {
  width: 16px;
  height: 16px;
  object-fit: contain;
  opacity: 0.85;
  transition: transform 0.15s ease, opacity 0.15s ease;
}

/* hover design*/
.icon-button.edit-btn:hover img,
.icon-button.delete-btn:hover img {
  transform: scale(1.15);
  opacity: 1;
}


/* Lock button style */
.lock-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.lock-button img {
    width: 16px;
    height: 16px;
    object-fit: contain;
    opacity: 0.85;
    transition: transform 0.15s ease, opacity 0.15s ease;
}

/* Hover */
.lock-button:hover img {
    transform: scale(1.15);
    opacity: 1;
}
